/*//////////// CSS RESET ////////////*/

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

p {
  font-weight: unset;
}
ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
input,
button {
  all: unset;
}

a {
  text-decoration: none;
}

/*//////////// Grid Layout ////////////*/

.grid-container {
  max-width: 950px;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-auto-rows: minmax(100px, auto);
  column-gap: 10px;
}

/*//////////// Nav section ////////////*/

nav {
  background-color: #1c1c1c;
}

.nav__items {
  margin: 0 auto;
  height: 190px;
  max-width: 950px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  line-height: 35px;
}
.logo__main {
  font-family: "Cambo", serif;
  font-size: 60px;
  color: #fff;
  text-shadow: 0 0 3px #fff, 0 0 2px #fff, 0 0 2px #ffffff;
}

.logo__sub {
  color: #727272;
}

.search {
  align-self: baseline;
  margin-top: 50px;
}

.search__searchbar {
  width: 255px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #727272;
  font-size: 11px;
  padding-left: 10px;
  color: #fff;
}

.search__button {
  width: 50px;
  height: 30px;
  background-color: #3e3e3e;
  text-align: center;
  border-radius: 10px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}

.search__button:hover {
  background-color: #303030;
}

/*//////////// Header Section ////////////*/

header {
  font-family: "Cambo", serif;
  height: 580px;
  background-image: url(assets/bg.png);
  background-size: cover;
  background-position: center;
}

.header__title,
.header__subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.header__title {
  grid-column: 9 / 22;
  grid-row: 1;
  align-self: end;
  background-color: rgba(0, 0, 0, 0.83);
  min-height: 100px;
}

.header__subtitle {
  grid-column: 10 / 19;
  grid-row: 2;
  background-color: rgba(4, 32, 62, 0.83);
  height: 70px;
}

.header__title h1 {
  font-size: 60px;
}

.header__title h2 {
  font-size: 40px;
}

/*//////////// Cards ////////////*/
.cards {
  background-color: #cdcdcd;
}
.cards__card {
  height: 330px;
  padding: 20px;
  margin-top: -86px;
  text-align: center;
  background: linear-gradient(#f5f5f5, #f9f9f9);
  color: #222222;
  grid-column: span 6;
  overflow: hidden;
}

.card-A,
.card-C {
  border-radius: 20px 0 20px 0;
}

.card-B,
.card-D {
  border-radius: 0 20px 0 20px;
}

.cards__card h3 {
  font-size: 70px;
  font-weight: 700;
  padding: 0;
}

.cards__card h4 {
  font-family: "Yellowtail", cursive;
  font-size: 30px;
  margin: 5px 0;
}

.cards__text {
  height: 75px;
  overflow-y: scroll;
}

.cards__text::-webkit-scrollbar {
  display: none;
}
.cards__card p {
  color: #727272;
  font-size: 14px;
}

.cards__card p::first-line {
  color: #2fb2eb;
}

.cards__card input {
  height: 35px;
  width: 103px;
  font-size: 20px;
  font-family: "Cambo", serif;
  color: #fff;
  border-radius: 20px;
  margin-top: 20px;
  background: linear-gradient(#5899bd, #26668a);
}

.reflection-1 {
  height: 30px;
  background: linear-gradient(#f9f9f960, transparent);
  grid-row: 2;
  grid-column: span 6;
  border-radius: 0 20px 0 0;
  margin-top: 4px;
  mask-image: linear-gradient(transparent 50%, white 90%);
}

.reflection-2 {
  height: 30px;
  background: linear-gradient(#f9f9f960, transparent);
  grid-row: 2;
  grid-column: span 6;
  border-radius: 20px 0 0 0;
  margin-top: 4px;
  mask-image: linear-gradient(transparent 50%, white 90%);
}

.cards__card:hover + .reflection-1,
.cards__card:hover + .reflection-2 {
  background: linear-gradient(#24242427, transparent);
}

.card--hover {
  background: linear-gradient(#383838, #1f1f1f);
  color: #fff;
  cursor: pointer;
}

/*//////////// Description Bubble ////////////*/

.description {
  min-height: 144px;
  max-width: 950px;
  padding: 20px;
  margin: auto;
  margin-top: -60px;
  background: linear-gradient(#b8b8b8, #a6a6a6);
  border-radius: 20px;
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  font-weight: 300;
  display: flex;
  align-items: center;
}

.description p {
  margin-left: 305px;
}

/*//////////// Icons ////////////*/

.icons {
  max-width: 950px;
  margin: auto;
  padding: 40px 0;
}

.icons img {
  width: 30px;
  margin-right: 10px;
}

.icons img:last-child {
  border-radius: 6px;
}

.icons img:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/*//////////// Footer ////////////*/

footer {
  height: 185px;
  background: linear-gradient(#2c2c2c, #242424);
}

/*//////////// Media Queries////////////*/

@media only screen and (max-width: 1000px) {
  .nav__items,
  .grid-container {
    padding: 20px;
  }

  .description p {
    margin: auto;
  }

  .header__title,
  .header__subtitle {
    grid-column: span 24;
  }

  .icons {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 700px) {
  .nav__items {
    flex-direction: column;
    justify-content: center;
  }
  .search {
    margin-top: 0;
    align-self: center;
  }

  .cards__card {
    grid-column: span 12;
    margin-top: 10px;
  }

  .reflection-1,
  .reflection-2 {
    display: none;
  }

  .description {
    margin-top: auto;
  }
}

@media only screen and (max-width: 500px) {
  .cards__card {
    grid-column: span 24;
  }
}
